#services-tp{
  width: 100%;
  position: relative;

}

.container-tp {
  padding: 20px;
  position: relative;
  margin-top: 80px;
}

.stptext-container {
  display: flex;
  flex-direction: column;
}

.stptext-tl {
  position: relative;
  padding: 0 20px;
  text-align: center;
}

.stptext-tl p {
  text-align: center;
  font-size: 30px;
}


.stptext-tr {
  text-align: center;
  margin-top: 20px;
}

.ctp-2{
  background: #000;
  color: white;
}
