#services-tp {
  width: 100%;
  position: relative;
}

.container-tp {
  padding: 20px;
  position: relative;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.stptext-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-futura {
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
  right: -10px;

  img {
    height: 400px;
  }
}



.agrupar {
  justify-content: center;
  align-items: center;
}

.stptext-tl {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  overflow-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.stptext-tr {
  font-size: 20px;
  height: 10%;
  width: 300px;
  text-align: center;

  span {
    font-weight: bold;
  }

}

#services-md {
  width: 100%;
  position: relative;
}

.container-md {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.services-items1,
.services-items2,
.services-items3,
.services-items4,
.services-items5,
.services-items6 {
  display: flex;
  justify-content: center;
  align-items: center;
height: 300px;
  
  background-color: black;
  color: white;
}




// botão
button {
  margin-top: 20px;
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid red;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: red;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover {
  color: white;
  background: rgb(255, 0, 0);
  box-shadow: 0 0 30px 5px rgba(255, 0, 0, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}