* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,500&family=Source+Sans+Pro:wght@200;300;400&display=swap');

/* Components*/
@import "./services.scss";
@import "./projects.scss";
@import "./mobile.scss";
@import "./about-me.scss";

section {
  padding: 100px 15% 120px;
}

span {
  color: red;
}

/* Header */
header.sticky {
  background: white;
  padding: 12px 15%;
  box-shadow: 0px 3px 8px rgba(255, 0, 0, 0.2);
}

