@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,500&family=Source+Sans+Pro:wght@200;300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Components*/
#services-tp {
  width: 100%;
  position: relative;
}

.container-tp {
  padding: 20px;
  position: relative;
  margin-top: 80px;
}

.stptext-container {
  display: flex;
  flex-direction: column;
}

.stptext-tl {
  position: relative;
  padding: 0 20px;
  text-align: center;
}

.stptext-tl p {
  text-align: center;
  font-size: 30px;
}

.stptext-tr {
  text-align: center;
  margin-top: 20px;
}

.ctp-2 {
  background: #000;
  color: white;
}

#projects {
  width: 100%;
  position: relative;
}

.container-projetos {
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  cursor: grab;
}

.conteudo-projetos {
  display: inline-block;
}

.projetos {
  width: 100%;
  padding: 0 20px;
  gap: 20px;
  display: flex;
}

.projeto1 img {
  width: 30vw;
  height: 50vh;
}

.container-projetos:active {
  cursor: grabbing;
}

.containertext {
  padding: 20px;
  position: relative;
  margin-top: 80px;
}

.texto-container {
  display: flex;
  flex-direction: column;
}

.texto {
  position: relative;
  padding: 0 20px;
  text-align: center;
}

.texto p {
  text-align: center;
  font-size: 30px;
}

.texto span {
  color: red;
  font-weight: bold;
  font-size: 35px;
}

.novo-texto {
  width: 70%;
  text-align: end;
  margin-top: 20px;
  margin-right: 15%;
  align-self: flex-end;
}

.texto3 {
  width: 80%;
  align-self: center;
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
}

#projects-card {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 991px) {
  #homepage {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .redes {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .redes .instagram {
    width: 40px;
    height: 40px;
  }
  .redes .linkedin {
    width: 50px;
    height: 50px;
  }
  .container {
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
    top: 20px;
  }
  .container .square {
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 8px;
  }
  .container .rectangle {
    display: none;
    background-color: red;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    width: 320px;
    height: 100px;
    text-align: center;
    line-height: 100px; /* Adicione essa linha */
  }
  .top-left {
    align-self: flex-start;
  }
  .top-right {
    align-self: flex-end;
  }
}
/* Desktop */
@media only screen and (min-width: 991px) {
  #homepage {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .rectangle a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .container {
    position: relative;
    width: 530px;
    height: 530px;
  }
  .redes {
    transform: translateY(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
  }
  .redes .instagram {
    width: 40px;
    height: 40px;
  }
  .redes .linkedin {
    width: 50px;
    height: 50px;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }
  .redes.fade-in {
    animation: fadeIn 5s ease-in-out;
    opacity: 1;
    visibility: visible;
  }
  .square {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 140px;
    background-color: red;
    color: white;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 8px;
  }
  .rectangle {
    position: absolute;
    background-color: red;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  .top-left {
    top: 0;
    left: 0;
    width: 120px;
    height: 350px;
    writing-mode: vertical-rl;
  }
  .top-right {
    top: 0;
    right: 0;
    width: 350px;
    height: 120px;
  }
  .bottom-left {
    bottom: 0;
    left: 0;
    width: 350px;
    height: 120px;
  }
  .bottom-right {
    width: 120px;
    height: 350px;
    bottom: 0;
    right: 0;
    writing-mode: vertical-rl;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --text-color: #000000;
  --main-color: #29fd53;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 28px 12%;
  transition: all 0.5s ease;
}

.logo {
  display: flex;
  align-items: center;
}

.logo i {
  color: var(--main-color);
  font-size: 28px;
  margin-right: 3px;
}

.logo span {
  color: var(--text-color);
  font-size: 1.7rem;
  font-weight: 600;
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all 0.5s ease;
}

.navbar a:hover {
  color: var(--main-color);
}

.navbar a:active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  cursor: pointer;
  z-index: 10001;
  display: none;
}

ul li a.active {
  color: red;
}

@media (max-width: 1280px) {
  header {
    padding: 14px 2%;
    transition: 0.2s;
  }
  .navbar a {
    padding: 5px 0;
    margin: 0px 20px;
  }
}
@media (max-width: 991px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all 0.5s ease;
  }
  .navbar a {
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all 0.5s ease;
    font-size: 1.4rem;
  }
  .navbar a:hover {
    color: var(--text-color);
    transform: translateY(10px);
  }
  .navbar a.active {
    color: var(--text-color);
  }
  .navbar.open {
    right: 2%;
  }
}

/*# sourceMappingURL=style.css.map */
